:root {
  --color-1: #d2e0fb;
  --color-2: #fef9d9;
  --color-3: #dee5d4;
  --color-4: #8eaccd;
}

body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );
  background-size: 400% 900%;
  animation: gradientBackground 15s ease infinite;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💍</text></svg>")
      16 0,
    auto;
  overflow-x: hidden; /* Add this to prevent horizontal scrolling */
}

a {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 50vh;
  margin: 0rem auto;
  max-width: 70vw;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  header {
    max-width: 80vw;
  }
}

@media (max-width: 480px) {
  header {
    max-width: 90vw;
  }
}

h1 {
  font-size: 7rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: cursive;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

main {
  max-width: 60vw;
  margin: 0rem auto;
}

@media (max-width: 768px) {
  main {
    max-width: 80vw;
  }
}

@media (max-width: 480px) {
  main {
    max-width: 100vw;
  }
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.content-section.reverse {
  flex-direction: column;
}

.text {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.image {
  flex: 1;
  text-align: center;
  margin-top: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.wedding-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wedding-details p {
  font-size: 1.5rem;
  color: #333;
}

.wedding-details .date {
  font-weight: bold;
  color: #8eaccd;
}

.wedding-details .location {
  font-style: italic;
}

/* Add these new styles for the falling flowers effect */
@keyframes falling {
  0% {
    top: -10%;
    transform: translateX(0) rotateZ(0deg);
    opacity: 1;
  }
  100% {
    top: 100%;
    transform: translateX(100px) rotateZ(360deg);
    opacity: 0;
  }
}

.flower {
  position: fixed;
  top: -10%;
  font-size: 20px;
  animation: falling 10s linear infinite;
}

.introduction {
  padding: 2rem;
  margin: 2rem auto;
}

.introduction p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #333;
  margin-bottom: 1rem;
}

.introduction p:last-child {
  margin-bottom: 0;
}

.faq {
  margin: 0rem auto;
  padding: 0 2rem;
  color: #333;
}

.faq h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.faq-list {
  list-style-type: none;
  padding: 0;
}

.faq-question {
  background: none;
  border: none;
  padding: 1rem 0;
  width: 100%;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>")
      16 0,
    auto;
  font-size: 1.1rem;
  font-weight: 600;
}

.faq-answer {
  display: none;
}

.dress-code-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .dress-code-images {
    grid-template-columns: 1fr;
  }
}

.dress-code-image-container {
  display: flex;
  flex-direction: column;
}

.dress-code-images img {
  flex: 1;
  max-height: 30rem;
  height: auto;
  object-fit: cover;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8eaccd;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #6c8bb7;
}

.image-caption {
  font-size: 0.8rem;
  text-align: center;
}
