:root {
  --color-1: #d2e0fb;
  --color-2: #fef9d9;
  --color-3: #dee5d4;
  --color-4: #8eaccd;
}

body,
form,
fieldset,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4)
  );
  background-size: 400% 900%;
  animation: gradientBackground 15s ease infinite;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💍</text></svg>") 16 0, auto;

}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-size: 7rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-family: cursive;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 3rem;
  }
}

main {
  max-width: 1200px;
  margin: 0rem auto;
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.content-section.reverse {
  flex-direction: column;
}

.text {
  flex: 1;
  padding: 1rem;
  text-align: center;
}

.image {
  flex: 1;
  text-align: center;
  margin-top: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.wedding-details p {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  color: #333;
}

.wedding-details .date {
  font-weight: bold;
  color: #8eaccd;
}

.wedding-details .location {
  font-style: italic;
}

.flower {
  position: fixed;
  font-size: 20px;
  pointer-events: none;
  animation: fall 9s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100px) rotate(360deg);
    opacity: 0;
  }
}

.full-width-image {
  width: 100%;
  height: 70vh; /* This sets the height to 50% of the viewport height */
  overflow: hidden;
  position: relative;
}

.full-width-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.2; /* Adjust this value for desired transparency */
  position: absolute;
  top: 0;
  left: 0;
}